<app-navbar></app-navbar>
<a class="btn btn-primary" [routerLink]="['/menu']" routerLinkActive="router-link-active" >Menu</a>
<div class="main-content"><div class="navbar"><p>Date Picker</p><p>Status Selector</p><button>Refresh</button>
</div>
<div class="navbar">
    <div>
        <button><</button>
        <button>></button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr>
                <th>col1</th>
                <th>col2</th>
                <th>col3</th>
                <th>col4</th>
                <th>col5</th>
            </tr>
            <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
            </tr>
        </table>
        
    </div>
    <div class="col-md-4">
        <table class="table table-bordered">
          <tr>
              <th>col1</th>
              <th>col2</th>
              <th>col3</th>
          </tr>
          <tr>
              <td>data1</td>
              <td>data2</td>
              <td>data3</td>
          </tr>
        </table>
      
      </div>
</div>
<div>
        <div class="container-fluid">
           <div class="back-to-top pull-right">TOP</div>
           <div class="container">
               <div class="content1">CONTENT1</div>
               <div class="content2">CONTENT2</div>
               <table class="table table-bordered">
                <tr>
                    <th>col1</th>
                    <th>col2</th>
                    <th>col3</th>
                </tr>
                <tr>
                    <td>data1</td>
                    <td>data2</td>
                    <td>data3</td>
                </tr>
            </table>
           </div>
        </div>
</div>
</div>
